img {
    width: 5em;
    height: 3em;
}

.instagram {
   color: #c13584;
}

.nav-link {
    cursor: pointer;
    transition: all ease-in-out 0.4s;
    color: white !important;
    font-weight: 500;
}

.nav-link:hover {
    transform: scale(1.2);
}

.nav-item {
    cursor: pointer;
}

.navbar {
    z-index: 5;
}